<div id="map" class="w-full h-full"></div>

<%# 協賛店データをJSに送信 %>
<script>
  window.merchantsData = <%= raw(@merchants.to_json(
    only: [:latitude, :longitude, :name, :address, :description],
    methods: [:image_url]
  )) %>;
</script>

<%# 元のバツボタンを非表示にする %>
<style>
  .gm-ui-hover-effect, .gm-style-iw-ch {
    display: none !important;
  }
</style>

<%= javascript_include_tag "merchant_search_map", defer: true %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API_KEY'] %>&callback=initMap"></script>