<div class="container mx-auto">
  <h1 class="m-9 flex justify-center text-3xl">アカウント</h1>

  <div class="bg-white rounded shadow p-4">
    <div class="mb-2 text-2xl"><%= current_user.email %></div>
    <div class="mt-4 mb-2">
      <%= link_to "プロフィールを編集", edit_user_registration_path, class: "px-4 py-2 bg-green-700 text-white rounded" %>
    </div>
  </div>
</div>
