<h1>Payments</h1>

<div id="payments">
  <% if merchant_signed_in? %>
    <% @payments.each do |payment| %>
      <%= render payment %>
      <p>
        <%= link_to "Show this payment", payment %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New payment", new_payment_path %>
