<div class="mt-4">
  <%= link_to "読み取りし直す", payments_path, class: "ml-2" %>
  <h1 class="mb-9 flex justify-center text-3xl">支払い</h1>
</div>

<div class="m-9">
  <%= render "form", payment: @payment %>
</div>
