<h1>Editing point transaction</h1>

<%= render "form", point_transaction: @point_transaction %>

<br>

<div>
  <%= link_to "Show this point transaction", @point_transaction %> |
  <%= link_to "Back to point transactions", point_transactions_path %>
</div>
