<h1 class="m-9 flex justify-center text-3xl">ミッションクリアコードを入力</h1>
<div class="m-auto" style="width: 60vw;">
  <%= form_with url: complete_via_url_missions_path, method: :post, local: true, data: { turbo: false } do |f| %>
    <div class="mb-4">
      <%= f.label :code, "ミッションコード", style: "display: block" %>
      <span class="text-xl">
        <%= f.text_field :code, class: "border border-black p-1 rounded-sm mt-1" %>
      </span>
    </div>
    <div class="flex justify-center mt-8">
      <%= f.submit "送信", class: "border border-black p-1 rounded-sm flex" %>
    </div>
  <% end %>
</div>