<div id="reader" class="relative w-full h-full" style="height: calc(100dvh - 75px);"></div>
<div class="absolute bottom-[12vh] left-1/2 -translate-x-1/2 z-10
            bg-black/60 text-white rounded-2xl p-2 max-w-md
            text-center shadow-lg w-full" style="bottom: 4vh;">
  <div class="text-sm">
    カメラでQRコードを読み取れない場合は協賛店ID または ミッションID を入力してください
  </div>
  <div class="mt-3 flex items-center justify-center space-x-3 flex-col">
    <%= link_to "協賛店を利用する", new_payment_path,
          class: "bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-lg text-sm shadow" %>
    <%= link_to "ミッションクリアコードを入力", complete_via_url_missions_path,
          class: "bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg text-sm shadow" %>
  </div>
</div>


<script src="https://unpkg.com/html5-qrcode"></script>
<script>
  function onScanSuccess(decodedText, decodedResult) {
    window.location.href = decodedText;
  }

  const html5QrCode = new Html5Qrcode("reader");
  html5QrCode.start(
    { facingMode: "environment" },
    { fps: 10, qrbox: 250 },
    onScanSuccess
  ).catch(err => {
    document.getElementById('result').innerText = "お使いの端末ではカメラを利用できません。協賛店IDまたはミッションIDを入力してください。";
  });
</script>
<style>
  #reader video {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
</style>