<%= javascript_include_tag "scan_qrcode", type: "module" %>

<div class="relative w-screen h-[calc(100dvh-75px)] overflow-hidden">
  <video id="qr-video" class="absolute top-0 left-0 w-full h-full object-cover" autoplay muted playsinline></video>

  <div class="absolute top-10 text-[#f1f1f1] text-shadow-lg flex flex-col items-center ml-3 mr-3">
    <span class="text-3xl mb-4">QRコードをスキャン</span>
    <span>決済・ミッションクリア用のQRコードをスキャンしてください。QRコードが設置されていない場合は、スタッフまでお声掛けください。</span>
  </div>

  <button popovertarget="open-manual-input" id="result" class="absolute right-8 bottom-30 flex flex-col items-center text-[#f1f1f1] text-shadow-lg">
    <%= icon('fa-solid', 'keyboard', class: "text-4xl") %>
    <span>手動で入力</span>
  </button>

  <div popover id="open-manual-input" class="w-[80dvw] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white rounded-xl shadow-lg">
    <div class="align-content-center grid justify-items-center p-8">
      <div class="flex flex-col items-center">
        <span class="text-2xl font-semibold mb-3">IDを手動で入力する</span>
      </div>
      <div class="mt-5">
        <%= link_to new_payment_path do %>
          <div class="bg-green-800 text-white px-4 py-2 rounded-lg text-center shadow mb-3">
            決済（協賛店IDを入力）
          </div>
        <% end %>
        <%= link_to complete_via_url_missions_path do %>
          <div class="bg-green-800 text-white px-4 py-2 rounded-lg text-center shadow">
            ミッションクリア（ミッションIDを入力）
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<style>
  .scan-region-highlight-svg {
    stroke: #04c665 !important;
    transform: scale(1) !important;
    stroke-linecap: butt !important;
  }
</style>